name: Supabase Keep Alive

on:
  schedule:
    - cron: '0 8 */3 * *' # alle 3 Tage um 8 Uhr

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Call Supabase Function
        run: curl -X GET https://axirbthvnznvhfagduyj.functions.supabase.co/keep-alive